@model TravelTripProject.Models.Classes.Content
@{
    ViewBag.Title = "CreateContentImage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Görsel Ekle</h4>

<form method="post">
    <br /><br />
    <label>Görsel URL</label>
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-success">Görseli Ekle</button>
</form>