@model TravelTripProject.Models.Classes.About
@{
    ViewBag.Title = "UpdateDescription";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Açıklama Güncelle</h4>

<form method="post">
    @Html.HiddenFor(x => x.Id)
    <br /><br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description,20,0, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-success">Açıklamayı Güncelle</button>
</form>

