@model TravelTripProject.Models.Classes.SocialMedia
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yeni Hesap Ekle</h4>

<form method="post">
    <br /><br />
    <label>Uygulama Adı</label>
    @Html.TextBoxFor(x => x.SocialMediaName, new { @class = "form-control" })
    <br /><br />
    <label>Icon</label>
    @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })
    <br /><br />
    <label>Hesap URL</label>
    @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-info">Hesabı Ekle</button>
</form>

