@model List<TravelTripProject.Models.Classes.Comment>
<div class="col-md-6">
    <h4>Son Gelen Yorumlar</h4>
    <div class="card">
        <div class="table-responsive pt-3">
            <table class="table table-striped project-orders-table">
                <thead>
                    <tr>
                        <th class="ml-5">#</th>
                        <th>İsim Soyisim</th>
                        <th>Blog Konusu</th>
                        <th>Yorumu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Username</td>
                            <td><img src="@item.Blog.Image" style="width: 47px; height:47px"/></td>
                            <td>@(item.UserComment.Length > 30 ? item.UserComment.Substring(0, 30) + "..." : item.UserComment)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
