@model List<TravelTripProject.Models.Classes.SocialMedia>

@foreach (var item in Model)
{
    <a href="@item.Url" target="_blank"><i class="@item.Icon" aria-hidden="true" style="color: black"></i></a>
}